{{#each model as |repo|}}
  <div>
    <a href={{repo.html_url}} target="_blank">
      {{repo.name}}
    </a>
    <span>
      ⭐️ {{repo.stargazers_count}}
    </span>
    <button onClick={{action "addToFavorites" repo}}>Add</button>
  </div>
{{/each}}