<h2>Organization: {{model.organization}}</h2>
{{#each model.users as |member|}}
  <LinkTo @route="org.user" @models={{array model.organization member.login}}>
    <MemberImage @member={{member}} />
  </LinkTo>
{{/each}}
{{outlet}}